language: haxe

haxe:
  - development
  - "3.4.7"

dist: trusty
sudo: false

install:
  - haxelib install hxnodejs
  - haxelib install phantomjs
  - haxelib install utest 1.8.1
  - haxelib list
  - npm install

script:
  - haxe RunCi.hxml